@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-orange-400: #ffd08b;
  --color-orange-500: #ffc979;
  --color-orange-600: #ffc267;
  --color-orange-700: #ffb343;
  --color-orange-800: #fc8b00;
  --color-orange-900: #e48933;
  --color-grey-300: #f0f2f5;
  --color-grey-400: #d4dae4;
  --color-grey-500: #a8b4c4;
  --color-grey-600: #333;
  /* --color-grey-600: #7a8ea0; */
  --color-grey-700: #737373;
  --color-grey-800: #2e3841;
  --color-grey-900: #2a333b;

  /* --color-grey-900: #3b3b3b; */
  --color-grey-10: #0000001a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 400ms ease-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: montserrat, sans-serif;
}
